<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Expirery date</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of medicines">
            <td>{{ medicine.mid }}</td>
            <td>{{ medicine.mname }}</td>
            <td>{{ medicine.mexpdate }}</td>
            <td>{{ medicine.mstock }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  