<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
        <div class="form-group">
          <label for="pname">Name</label>
          <input type="text" [(ngModel)]="patient.pname" 

            class="form-control" 
            id="pname" 
            name="pname" 
            placeholder="Enter patient name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="pemail">Email</label>
          <input type="text" [(ngModel)]="patient.pemail" 
            class="form-control" 
            id="pemail" 
            name="pemail" 
            placeholder="Enter your email address"
            required #pemail="ngModel">
          <div [hidden]="!pemail.pristine" class="alert alert-danger">Email is required</div>
        </div>
        <div [hidden]="!pnumber.pristine" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="">MobileNumber</label>
          <input type="text" [(ngModel)]="patient.pnumber" 
            class="form-control" 
            id="pnumber" 
            name="pnumber" 
            placeholder="Enter patient's Mobile Number"
            required #pnumber="ngModel">
          <div [hidden]="!pnumber.pristine" class="alert alert-danger">MobileNumber is required</div>
        </div>
        <button type="submit" [disabled]="!patientForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

  